
.err{
  color: red;
}


.form-box{
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  & h1{
    color: darkgrey;
    border-bottom: 1px solid black;
    font-size: 30px;
  }
}

.video-box{
  margin: 0px auto 200px auto;
  width: 70%;
  background-color: whitesmoke;

  & video{
    width: 100%;
  }

  & .dislike{
    transform:rotate(180deg);
  }

  & .vid-likebar{
    margin-top: 20px;
    display:flex;
    & p{
      flex-grow: 1;
      font-size: 20px;
      margin:0;
    }
    & div{
      width:120px;
    }

    & .iLikeBtn{
      filter: invert(1);

    }
  }
  & >h5{
    margin-left: 7px;
  }
  & > p{
    border-width: 1px 0 1px 0;
    border-color: black;
    border-style: solid;
    padding: 12px 5px 12px 5px;
    margin:0px 7px 5px 7px;
  }
}
.comments{
  margin: 5px 5px 20px;

  & textarea{
    margin: auto;
    width: 90%;
    resize: none;
    height: 150px;
  }
  & button{
    width: auto;
  }

}
#commentList{
  & h4{
    border-bottom: 1px black solid;
    margin-left: 5px;
    padding-left: 7px;
    width: 50%;
  }

}
#commentList:nth-child(2n){
  background-color: white;
}
body > div{
    padding-top: 70px !important;
    margin-bottom: 200px;
}


.iLike{
  background: #afa;
}

#trash{
  position:fixed;
  bottom:20px;
  width: 256px;
  z-index: 100;
}

