
.err{
  color: red;
}


.form-box{
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  & h1{
    color: darkgrey;
    border-bottom: 1px solid black;
    font-size: 30px;
  }
}

.video-box{
  margin: 70px auto auto;
  width: 70%;
  & video{
    width: 100%;
  }

  & .dislike{
    transform:rotate(180deg);
  }
}