
.err{
  color: red;
}


.form-box{
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  & h1{
    color: darkgrey;
    border-bottom: 1px solid black;
    font-size: 30px;
  }
}

.video-box{
  margin: 70px auto auto;
  width: 70%;
  & video{
    width: 100%;
  }

  & .dislike{
    transform:rotate(180deg);
  }
}

body > div{
  margin-top: 70px;
}

.iLike{
  background: #afa;
}

.iLikeBtn{
  filter: invert(1);
}

#trash{
  position:fixed;
  bottom:20px;
  width: 256px;
  z-index: 100;
}